.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

p,a {
  font-family: Monaco;
  font-size: 16px;
}

.constrain {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto
}

.logo {
  width: 140px;
  margin: 0 auto;
}

header ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
}

header li {
  display: inline-block;
}

header a {
  color: white;
  text-decoration: none;
  padding: 5px 40px;
}

main ul {
/*   display: flex; */
  list-style: none;
  width: 100%;
  padding: 0;
}

main li {
  width: 33%;
/*   float: left; */
  display: inline-block;
}

.product {
  padding: 10px;
}

footer {
  background-color: black;
}
footer ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

footer li {
  display: inline-block;
}

footer a {
  color: white;
  text-decoration: none;

}
